.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
}

.progress {
  height: 20px;
  background-color: red;
  transition: width 0.5s ease;
}

button {
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: cyan;
  font-weight: 600;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  width: 50px;
  height: 50px;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}